body {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
#flexContainer{
    display: flex;
    height: 100vh;
    margin: 0;
}
nav {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
    background-color: #333333;
    color: darkorange;
    border-right: 2px solid darkorange;
}
nav ul{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
}


nav ul li {
    flex:1;
    align-content: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: darkorange;
    font-size: 2em;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
}


#content {
    background-color: #a7a7a7;
    color: black;
    display: flex;
    flex-flow: column wrap;
    flex:6;
    padding-left: 15px;
}
#adduser, #listUsers, #phpinfo {
    border: 2px darkorange outset;
    margin: 20px;
    padding: 0px 10px 10px 10px;
}
#listUsers {
    height: 100vh;
    order: 1;
}
#listUsers input:hover{
    background:none ;
    border: none;
    color: darkred;
    font-weight: bolder;
    font-size: 1.2em;
    cursor: pointer;
    flex: 1;
}
#listUsers input{
    background:none ;
    border: none;
    color: darkred;
    font-weight: bolder;
    cursor: hand;
    font-size: 1.2em;
}
table {
    text-align: right;
}
h2 {
    margin-left: 20px;
    color: darkorange;
    text-shadow: 2px 2px black;
}
.error {
    color: red;
    font-weight: bold;
}